$primary-color: #46a358;

#header {
  .header {
    padding: 20px 0;
    border-bottom: 1px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3d3d3d;
    &--logo {
      h1 {
        color: $primary-color;
        font-size: 25px;
        font-weight: 700;
      }
      img {
        width: 45px;
      }
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &--nav {
      display: flex;
      gap: 40px;

      a {
        position: relative;
        font-size: 16px;
        color: #3d3d3d;
        font-weight: 500;
        transition: color 0.3s ease, letter-spacing 0.3s ease,
          font-weight 0.3s ease;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -33px;
          width: 100%;
          height: 3px;
          background-color: $primary-color;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease;
        }

        &:hover {
          color: #000;

          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }

        &.active,
        &:active {
          font-weight: 800;

          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    &--action {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;
      a {
        font-size: 20px;
      }
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 7px 15px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        background: $primary-color;
        color: white;
        border: none;
        cursor: pointer;
      }
      &__count {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid white;
        color: white;
        background: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 65px;
      }
      &__img {
        cursor: pointer;
      }
    }
  }
}
